.NavItem {
    margin: 0 10px;
    padding-bottom: 5px;
    a {
        text-decoration: none;
        &:visited {
            color: black;
        }
    }
    &.Active {
        border-bottom: 3px solid $color-10;
    }
}
