.IntegrationListItem {
    width: 100%;
    min-height: 40px;
    height: fit-content;
    border-bottom: 1px solid hsl(0, 0, 80%);
    padding: 15px 0;
}

.IntegrationListItemHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        margin: 0;
    }
    .MenuBtn {
        cursor: pointer;
    }
}
