.IntegrationListItem {
    width: 30%;
    height: 125px;
    padding: 15px 15px;
    margin: 0 1.5%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
align-items: center;
    p {
        margin: 0;
    }
    &:hover {
        background-color: $color-60-hover;
        cursor: pointer;
    }
}

.IntegrationListItemHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    p {
        font-size: 16px;
        font-weight: bold;
        margin: 0;
    }
    .MenuBtn {
        cursor: pointer;
    }
}

.IntegrationListItemIcon {
    padding-right: 10px;
    max-height: 100%;
    max-width: 80px;
}

.IntegrationListItemContent {
    ul {
        text-decoration: none;
        list-style: none;
    }
    p {
        margin: 0;
    }
}

.IntegrationDescription {
    height: 100%;
    p {
        font-size: 14px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: 20px;
        height: 60px;
    }
}
