@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&display=swap');

$color-60: #fffbf7; // very light orange/yellow
$color-30: #ffffff; // white
$color-10: #ff9e00; // orange

@mixin max-width-breakpoint($bp) {
    @media (max-width: $bp) {
        @content;
    }
}

body,
html {
    font-family: 'Josefin Sans', sans-serif;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
* {
    box-sizing: border-box;
}
.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: $color-60;
}

.Page {
    padding: 40px 30px;
}

//pages
@import './pages/productCompare/ProductCompare.scss';
@import './pages/home/Home.scss';

//components
@import './components/selectedProductCompare/SelectedProductCompare.scss';
@import './components/integrationListContainer/IntegrationListContainer.scss';
@import './components/integrationListItem/IntegrationListItem.scss';
@import './components/navBar/NavBar.scss';
@import './components/contentCard/ContentCard.scss';
@import './components/navItem/NavItem.scss';
@import './components/formFields/FormFields.scss';
